<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
  <link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <!-- <link src="main.css" defer></script> -->
  <link rel="stylesheet" href="main.css">
  <title>PM4 ZOOM</title>
</head>
<body id="light-theme">
<div class="container">
  <div class="title" title="share this ID with your friends"></div>
  <select id="filter" class="w-50  ml-2 mt-2 custom-select ">
    <option value="none">Normal</option>
    <option value="sepia(100%)">Old School</option>
    <option value="blur(5px)">Hidden Mist</option>
    <option value="grayscale(100%)">Brightness</option>
  </select>
  <label class="switch">
    <input type="checkbox" id="theme" checked>
    <span class="slider round"></span>
  </label>
  <div id="video-grid"></div>
  <div id="peer"></div>
  <div class="chat-box">
  </div>
  <div class="show-chat-box">
    <span id="button-chat-box" style="cursor: pointer;">chatting</span>
  </div>
  <div class="message">
    <!-- <div class="noti">
      Nguyen Van Hai has joined this conversation!
    </div>
    <div class="noti">
      Nguyen Van Hai has joined this conversation!
    </div> -->
  </div>
</div> 
  
</body>
<script>
  let isLight = true;
  let isChatBoxShown = false;
  const ROOM_ID = "<%= roomId %>"
  const group_id =  document.querySelector('.title')
  const input_theme = document.querySelector('#theme')
  const btn_chat_box = document.querySelector('#button-chat-box')
  const chat_box = document.querySelector('.chat-box')

  group_id.textContent = window.location
  group_id.addEventListener('click',() =>{
    document.execCommand("copy");
  })

  btn_chat_box.addEventListener('click',()=>{
    isChatBoxShown = !isChatBoxShown;
    if(isChatBoxShown) return chat_box.style.display = 'block'
    chat_box.style.display = 'none'
  })

  document.addEventListener('copy', function (e) {
      var link_group = document.querySelector('.title')
      e.clipboardData.setData('text/plain', link_group.textContent);
      e.preventDefault(); // default behaviour is to copy any selected text
  });
    
  input_theme.addEventListener('change',()=>{
    if(input_theme.checked){
      isLight = true
      document.body.id = 'light-theme'

    }else{
      isLight = false
      document.body.id = 'dark-theme'
    }
  })
 function generatorDiv(id,type,isLight){

    const div = document.createElement('div')
    isLight ? div.className = 'noti light' : div.className = 'noti dark'
   type == 'join' ? div.innerHTML = `<span>${id}</span> has joined this conversation ` : div.innerHTML = `<span>${id}</span> has left this conversation `
    setTimeout(()=>{
      div.remove()
    },3000)
      document.querySelector('.message').append(div)
  //  },2000)
 }
 
</script>
</html>